[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	tag = v1.9.1
[submodule "lib/@gearbox-protocol/sdk-gov"]
	path = lib/@gearbox-protocol/sdk-gov
	url = https://github.com/Gearbox-protocol/sdk-gov
	tag = v2.10.1
[submodule "lib/@openzeppelin"]
	path = lib/@openzeppelin
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
	tag = v4.9.6
[submodule "lib/@1inch/solidity-utils"]
	path = lib/@1inch/solidity-utils
	url = https://github.com/1inch/solidity-utils
	tag = 2.4.0
